html { background: #b03f48; color: #f0f0f0; font-size: 1.2em; line-height: 1; font-family: "Comic Sans MS" }
.lobby {overflow-y: scroll; margin-left: 500px; height: 500px; width: 400px; background-color: #529848; border:6px dotted #2e2e2e; border-radius: 40px; }
.chat_input { color: white; }
.turn_indicator { padding: 20px; text-align: center; }
.picker:hover { transform: scale(1.05) rotate(1deg); }
.legal:hover { transform: scale(1.05) rotate(1deg); }
.picker:active { transform: scale(.94) rotate(-1deg); }
.legal:active { transform: scale(.94) rotate(-1deg); }
.cards { padding: 1px; width: 94px; height: 130px; }
.legal { padding: 1px; width: 94px; height: 130px; }
.float_left {overflow-y: scroll; float:left; width: 180px; height: 650px; text-align:center; border:6px dotted #2e2e2e; border-radius: 40px; margin: 20px; padding: 10px; background: #529848; line-height: .7; }
.float_right { float:right; width: 300px; height: 650px; text-align:center; border:6px dotted #2e2e2e; border-radius: 40px; margin: 20px; padding: 10px; background: #529848; }
.play_area { text-align: center; height: 190px; }
.player_hand{ text-align:center; }
.opponent_hand { height: 135px; text-align:center; }
.back_drop { height: 720px; width: 1620px; margin: 30px; border:6px dotted #b03f48; border-radius: 70px; background: #2e2e2e; }
.card_area { height: 440px; padding: 115px 0; text-align: center; }
.aces_button { background-color: #2e2e2e; border: 6px dotted #529848; border-radius: 20px; color: white; margin-top: 10px; padding: 20px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; font-family: "Comic Sans MS"; line-height: 1px; }
.log { overflow-y: scroll; overflow-wrap: normal; height: 250px; width: 280px; border: 6px dotted #529848; background: #2e2e2e; border-radius: 20px; font-size: 12px; text-align: left; padding-left: 10px; }
.chat { overflow-y: scroll; overflow-wrap: normal; height: 300px; width: 280px; border: 6px dotted #529848; background: #2e2e2e; border-radius: 20px; font-size: 12px; text-align: left; padding: 1px; }
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { display: none; }
::-webkit-scrollbar-thumb { width: 12px; background-color: #529848; border-radius: 7px; }
.chat_input { background-color: #2e2e2e; width: 280px; border: 6px dotted #529848; border-radius: 20px; }
.tricks_popup { display: none; position: fixed; z-index: 1; padding-top: 200px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; }
.tricks_popup_content { text-align: center;  background-color: #b03f48; margin: auto; padding: 20px; border: 6px dotted #2e2e2e; border-radius: 40px; width: 60%; }
.invite_popup { display: none; position: absolute; z-index: 1; padding-top: 50px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; }
.invite_popup_content { background-color: #b03f48; margin: auto; padding: 20px; border: 6px dotted #2e2e2e; border-radius: 40px; width: 520px; height: 640px }
.invite_divs { border: dotted #b03f48; background-color: #2e2e2e; border-radius: 10px; margin-top: 8px; margin-bottom: 8px; padding: 8px; line-height: 20px; }
.invite_input { background-color: #b03f48; border-radius: 6px; color: white; padding-left: 10px; width: 30px }
.invite_buttons { border: 5px dotted #b03f48; background-color: #2e2e2e; border-radius: 14px; color: white; font-family: "Comic Sans MS"; padding-left: 16px; padding-right: 16px;  margin: 6px; }

.last_turn_cards {
    display: block;
    z-index: 1;
    position: absolute;
    top: 285px;
}